/*$default-border: #d3e0e9;
$body-bg: #f5f8fa;
$navbar-default-border: #ededed;
$navbar-default-bg: #fff;
$panel-border-color: $default-border;
$btn-success-bg: #87D37C;
$btn-primary-bg: #3097d1;
$btn-default-bg: #fefefe;
$panel-default-border: $default-border;
$table-border-color: $default-border;
$navbar-default-link-color: #a4aaae;
$navbar-background-color-active: $body-bg;
$navbar-default-link-hover-bg: $body-bg;
$link-color: #3097d1;
$table-bg-accent: lighten($body-bg, 1%);
$table-bg-hover: darken($body-bg, 5%);
$list-group-border: $default-border;
$list-group-hover-bg: darken($body-bg, 5%);
$list-group-active-bg: darken($body-bg, 15%);
$list-group-active-border: darken($body-bg, 15%);
*/


// Body
$body-bg: #fff !default;

// Borders
$laravel-border-color: #d3e0e9; //darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #59c8ff;
$brand-success: #8CC152;
$brand-warning: #F6BB42;
$brand-danger:  #DA4453;

// Typography
// $font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 12px !default;
$line-height-base: 1.4167 !default;
$text-color: #636b6f !default;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-border-radius: 0;
$input-border-radius-small: 0;
$input-border-radius-large: 0;

// Panels
$panel-default-heading-bg: #fff;

// Alerts
$alert-padding: 10px;
$alert-border-radius: 0;

$brand-violet: #8A2BE2;
$btn-violet-bg: #8A2BE2;
