@import 'resources/assets/sass/_variables.scss';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootflat/bootflat/scss/bootflat.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";

$container-border: 2px solid $navbar-default-border;

// Layout styles
body {
  background-color: $body-bg;
}

.navbar-default {
  border-bottom: 2px solid $default-border;
}

.panel.panel-heading h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-heading .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  border-top: 2px solid $default-border;
  padding-top: 10px;
}

//Sidebar Styles
//-----------------------------------
.panel-nav .panel-title a {
  display: block;
  text-decoration: none;
}

.panel-nav .panel-title a:hover {
  text-decoration: none;
}

//Listing styles
//-----------------------------------
.listing-table {
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  //@extend .table-hover;
}

.listing-table > tr > td,
.listing-table > tbody > tr > td {
  vertical-align: middle;
}

// Buttons
.btn {
  border: none;
  font-weight: 600;
}

// Form styles
//------------------------------------
.error-message {
  margin-top: 7px;
  color: $alert-danger-text;
}

//Helper Classes
//------------------------------------
.inline-block {
  display: inline-block;
}
