@import 'resources/assets/sass/_variables.scss';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootflat/bootflat/scss/bootflat.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/select2/src/scss/core.scss";

// Layout styles
html, body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  main {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 5px;
  }
}

.navbar {
  margin-bottom: 0;
  min-height: 30px;

  .navbar-nav li a {
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-brand {
    line-height: 1.25;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 16px;
    height: 30px;
  }
}

.title-bar {
  .title-container {
    background: #fff;
    min-height: 40px;
    border-bottom: 4px solid $navbar-default-border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1, h2, h3, h4, h5 {
      font-size: 14px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 5px;
      flex: 1;

      display: inline-block;
    }

    form {
      display: inline-block;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
}

.panel.panel-heading h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-heading .heading-actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ticket-scope {
  margin-left: 10px;
}

footer {
  border-top: 2px solid $navbar-default-border;
  background: #fff;

  p {
    margin-bottom: 0;
  }
}

//Sidebar Styles
//-----------------------------------
.panel-nav .panel-title a {
  display: block;
  text-decoration: none;
}

.panel-nav .panel-title a:hover {
  text-decoration: none;
}

//Listing styles
//-----------------------------------
.listing-table {
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  //@extend .table-hover;
}

.listing-table > tr > td,
.listing-table > tbody > tr > td,
.listing-table > tr > th,
.listing-table > thead > tr > th {
  vertical-align: middle;
}

// Buttons
.btn {
  font-weight: 600;
}

// Form styles
//------------------------------------
.error-message {
  margin-top: 7px;
  color: $brand-danger;
}

.panel-sm {
  .panel-body {
    padding: 10px;
  }

  .panel-heading {
    padding: 10px 5px;
  }

  .panel-title {
    font-size: 13px;
    font-weight: 700;
  }

  .form-group-sm {
    margin-bottom: 0;
  }
}

.selection-modal {
  select.form-control {
    min-height: 300px;
  }
}

hr.form-divider {
  margin-top: 0;
  margin-bottom: 10px;
}

.panel-sm .panel-form {
  margin-top: -20px;
}

.multiple {
  min-height: 200px;
}

//Helper Classes
//------------------------------------
.inline-block {
  display: inline-block;
}

.well-white {
  background-color: #fff;
}

.nav-tabs {
  margin-bottom: 10px;
}

.select2-container {
  display: block;
  width: 100%;
}

.card {
  @extend .well;
  @extend .well-sm;
  @extend .well-white;
  padding: 10px;
  margin-bottom: 0;

  border-radius: 0;

  ul {
    margin-bottom: 0;
  }
}

.replies {
  .panel-sm {
    margin-bottom: 2px;
  }

  .panel-sm:last-child {
    margin-bottom: 20px;
  }
}

.bg-violet {
  background-color: $brand-violet;
  color: #fff;
}

.flex {
  flex: 1;
}

.list-group-item.info {
  background-color: $brand-info;
  color: #fff;
}

#flash-alert {
  margin-right: 2em;
  .alert {
    margin-bottom: 0;
    padding: 5px;
  }
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.ticket-meta {
  margin-top: 5px;
  margin-bottom: 5px;
}

table.table > thead > tr > th {
  vertical-align: middle;
}

.report-container {

  table.table {

    > thead > tr > th {
      background-color: #CBD5EB;
      color: #333;
      border: 1px solid #fff;
      border-bottom-width: 2px;
    }

    > tbody > tr > td {
      background-color: #eee;
      color: #333;
      border: 1px solid #fff;
    }

    .report-table-container {
      overflow-x: auto;
    }
    table.table {
      width: auto;
    }
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .page-header {
    margin: 10px 0 20px;
  }
}

.panel .table-container {
  .table {
    margin-bottom: 0;
    border: 0;
  }

  .table-bordered {
    > thead > tr > th:first-child, > thead > tr > td:first-child, > tbody > tr > th:first-child, > tbody > tr > td:first-child, > tfoot > tr > th:first-child, > tfoot > tr > td:first-child > thead > tr > th:first-child > thead > tr > td:first-child > tbody > tr > th:first-child > tbody > tr > td:first-child > tfoot > tr > th:first-child > tfoot > tr > td:first-child {
      border-left: 0;
    }

    > thead > tr:first-child > td, > thead > tr:first-child > th, > tbody > tr:first-child > td, > tbody > tr:first-child > th {
      border-bottom: 0;
    }

    > tbody:last-child > tr:last-child td:first-child, > tbody:last-child > tr:last-child th:first-child {
      border-bottom-left-radius: 3px;
    }

    > tbody > tr:last-child > td, > tbody > tr:last-child > th, > tfoot > tr:last-child > td, > tfoot > tr:last-child > th {
      border-bottom: 0;
    }

    thead > tr:first-child > th, thead > tr:first-child > td {
      border-top: 0;
    }

     > thead > tr > th:last-child,  > thead > tr > td:last-child,  > tbody > tr > th:last-child,  > tbody > tr > td:last-child,  > tfoot > tr > th:last-child,  > tfoot > tr > td:last-child{
      border-right: 0;
    }

    > tbody:last-child > tr:last-child td:last-child, .panel > .listing-table:last-child > tbody:last-child > tr:last-child td:last-child, > tbody:last-child > tr:last-child th:last-child, .panel > .listing-table:last-child > tbody:last-child > tr:last-child th:last-child, > tfoot:last-child > tr:last-child td:last-child, .panel > .listing-table:last-child > tfoot:last-child > tr:last-child td:last-child, > tfoot:last-child > tr:last-child th:last-child, .panel > .listing-table:last-child > tfoot:last-child > tr:last-child th:last-child {
      border-bottom-right-radius: 3px;
    }
  }
}

img {
  max-width: 100%;
}